<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop :: Índice</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= type %></h2>
    <img width="400px" src=<%= image %> />
    <p><strong>Precio:</strong> <%= price %> - <strong>Etiquetas:</strong> <%= tags %></p>
  </body>
</html>
